.navbar {
  top: 0;
  position: absolute;
  width: 100%;
//   background-color: white !important;
//   border-bottom: 2px solid white;
  color: white;
  border-radius: 0;
  opacity: 1 !important;
  z-index: 1;
  justify-content: space-between;
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: left;
}

.navbar p {
    font-size: 14px;
    font-weight: bold;
}
.navitem {
  grid-gap: 0px;
  position: relative;
}

.navfirst {
    grid-column-start: 1;
}
.navbar:link {
    color: white;
}